body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logo {
  display: block;
}
#logo-small {
  display: none;
}
@media only screen and (max-width: 600px) {
  #logo {
    display: none;
  }
  #logo-small {
    display: block;
  }
}

#recent-snippets {
  width: 300px;
}
@media screen and (min-width: 900px) {
  #recent-snippets {
    width: 630px;
  }
}
@media screen and (min-width: 1200px) {
  #recent-snippets {
    width: 960px;
  }
}
@media screen and (min-width: 1536px) {
  #recent-snippets {
    width: 1290px;
  }
}
